[submodule "game"]
	path = game
	url = https://github.com/Billus-Working-Group/Looting-a-Dungeon-Because-Im-Broke-game
[submodule "doc/internal/design"]
	path = doc/internal/design
	url = https://github.com/Billus-Working-Group/LaDBIB-Design-Documents.git
